<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">Contact Us</h1>
 <h2>Jeff Gates</h2>
 <h3> Address : 21 AmazonMic Road <br>
      Email : jeffgate@outlook.com <br>
      Number : 01649984465
 </h3>
 <h2> Bill Bezos </h2>
 <h3> Address : 12 Micazon Road <br>
      Email : billbezos@amazon.com <br>
      Number : 01642257858
 </h3>
 </div>
<%- include('footer'); -%>